.form-group
{
    width: 25%;
}
body{

    
}
.center 
{
  margin: auto;
  width: 100%;
  padding: 100px;
  }
.box 
{
  width: 150px;
  border: 7px solid rgb(37, 187, 37);
  padding: 50px;
  margin: auto;
  padding-left: 25%;
  background-color: gainsboro;
}
  .legend
  {
    display: block;
    width: 100px;
    font-size:25px;
    padding-right: 25%;
  }
  .labels
  {
    display: block;
    float: left;
    width: 255px;
    font-size:25px;
    
  }

  .inputlabel
  {
    width: 250px;
    height: 50px;
  }

  .labels2
  {
    display: block;
    width: 255px;
    font-size:25px;
    
  }

  .inputlabel2
  {
    width: 250px;
    height: 50px;
  }

  .labels3
  {
    display: block;
    float: left;
    width: 255px;
    font-size:25px; 
  }

  
  .inputlabel3
  {
    width: 250px;
    height: 50px;
  
  }

  .labels4
  {
    display: block;
    width: 255px;
    font-size:25px; 
  }

  .inputlabel4
  {
    width: 250px;
    height: 50px;
  }

  .labels5
  {
    display: block;
    width: 255px;
    font-size:25px;
  }

  .inputlabel5
  {
    width: 250px;
    height: 50px;
  }
.submit
{
  width: 250px;
  height: 50px;
  font-size: 25px;
}
.toevoegenR , .annuleerR 
{
  display:inline-block;
}
.Bcontainer
{
  display:inline-block;
  margin: 10px;
}

