.form-group
{
    width: 25%;
}

.center 
{
  margin: auto;
  width: 100%;
  padding: 100px;
  }
.box 
{
  width: 25%;
  border: 7px solid rgb(37, 187, 37);
  margin: auto;
  background-color: gainsboro;
}
  .legend
  {
    display: block;
    width: 100px;
    font-size:25px;
    padding-right: 25%;
    
  }
  .labels
  {
    display: block;
    float: left;
    width: 255px;
    font-size:25px;
    
  }

  .inputlabel
  {
    width: 250px;
    height: 50px;
  }

  .labels2
  {
    display: block;
    width: 255px;
    font-size:25px;
    
  }

  .inputlabel2
  {
    width: 250px;
    height: 50px;
  }

  .labels3
  {
    display: block;
    float: left;
    width: 255px;
    font-size:25px; 
  }

  
  .inputlabel3
  {
    width: 250px;
    height: 50px;
  
  }

  .labels4
  {
    display: block;
    width: 255px;
    font-size:25px; 
  }

  .inputlabel4
  {
    width: 250px;
    height: 50px;
  }

  .labels5
  {
    display: block;
    width: 255px;
    font-size:25px;
  }

  .inputlabel5
  {
    width: 250px;
    height: 50px;
  }
.submit
{
  width: 250px;
  height: 50px;
  font-size: 25px;
}
.toevoegenR , .annuleerR 
{
  display:inline-block;
}
.centertab
{
  margin: auto;
  width: 200px;
  height: auto;
  font-size: auto;
  float: left 40px;
}
.Bcontainer
{
  display:inline-block;
  margin: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}