.form-group
{
    width: 25%;
}

.center 
{
  margin: auto;
  width: 100%;
  padding: 100px;
  }
.box 
{
  width: 25%;
  border: 7px solid rgb(37, 187, 37);
  margin: auto;
  background-color: gainsboro;
}
  .legend
  {
    display: block;
    width: 100px;
    font-size:25px;
    padding-right: 25%;
    
  }
  .labels
  {
    display: block;
    float: left;
    width: 255px;
    font-size:25px;
    
  }

  .inputlabel
  {
    width: 250px;
    height: 50px;
  }

  .labels2
  {
    display: block;
    width: 255px;
    font-size:25px;
    
  }

  .inputlabel2
  {
    width: 250px;
    height: 50px;
  }

  .labels3
  {
    display: block;
    float: left;
    width: 255px;
    font-size:25px; 
  }

  
  .inputlabel3
  {
    width: 250px;
    height: 50px;
  
  }

  .labels4
  {
    display: block;
    width: 255px;
    font-size:25px; 
  }

  .inputlabel4
  {
    width: 250px;
    height: 50px;
  }

  .labels5
  {
    display: block;
    width: 255px;
    font-size:25px;
  }

  .inputlabel5
  {
    width: 250px;
    height: 50px;
  }
.submit
{
  width: 250px;
  height: 50px;
  font-size: 25px;
}
.toevoegenR , .annuleerR 
{
  display:inline-block;
}
.Bcontainer
{
  display:inline-block;
  margin: 10px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
